
$turquoise: #1abc9c;
$greenSea: #16a085;
$clouds: #ecf0f1;
$silver: #bdc3c7;

html, body, body > div {
  margin: 0;
  width: 100%;
  height: 100%;
}

.navbar {
  background-color: $greenSea;
  height: 50px;
  width: 100%;
  border-radius: 0;
  padding: 8px 20px;
  margin-bottom: 0;
  .nav-brand {
    color: white;
    font-size: 21px;
  }
}

.chat-dashboard {
  height: calc(100% - 50px);
  background-color: $clouds;
  overflow-y: hidden;
  .topic-sidebar {
    height: 100%;
    display: inline-block;
    background-color: $turquoise;
    width: 22%;
    @media only screen and (max-width: 992px) {
      width: 350px;
    }
  }
  .chat-region {
    display: inline-block;
    height: 100%;
    width: 78%;
    @media only screen and (max-width: 992px) {
      width: calc(100% - 350px);
    }
  }
}