
$turquoise: #1abc9c;
$turquoiseD: #17B596;
$greenSea: #16a085;
$clouds: #ecf0f1;
$cloudsD: #DCE0E2;
$silver: #bdc3c7;
$midnight: #2c3e50;
$fontBlack: #333;
$skyBlue: #49E5EC;

html, body, #appContent, #appContent > div {
  height: 100%;
}

.navbar {
  margin-bottom: 0px;
  .nav-brand {
    margin-left: 20px;
    margin-right: 60px;
    font-size: 26px;
    font-weight: 200;
    color: $clouds;
    padding: 10px;
    border-bottom: 3px solid $clouds;
  }
  .add-topic {
    position: absolute;
    top: 17px;
    right: 20px;
    font-size: 25px;
    color: $clouds;
    cursor:pointer;
    &:hover {
      color: $cloudsD;
    }
  }
}

.chat-dashboard {
  height: 100%;
  background-color: $clouds;
  .topic-sidebar {
    height: 100%;
    display: inline-block;
    background-color: $turquoise;
    vertical-align: bottom;
    width: 22%;
    @media only screen and (max-width: 992px) {
      width: 350px;
    }
  }
  .chat-region {
    display: inline-block;
    height: 100%;
    vertical-align: bottom;
    width: 78%;
    box-shadow: -4px 0px 30px 0px rgba(0, 0, 0, 0.4);
    @media only screen and (max-width: 992px) {
      width: calc(100% - 350px);
    }
  }
}

.chat-region .messages {
  height: calc(100% - 75px);
  .message {
    padding: 10px 20px;
    &.current-user {
      text-align: right;
    }
    &:nth-child(odd) {
      background-color: $cloudsD;
    }
    .message-user {
      padding-left: 5px;
    }
  }
}

.chat-region .new-message-container {
  height: 75px;
  position: absolute;
  bottom: 0;
  width: 78%;
  @media only screen and (max-width: 992px) {
    width: calc(100% - 350px);
  }
  .message-user, .message-input, .message-submit {
    height: 100%;
    vertical-align: top;
    border: 1px solid $silver;
    color: $fontBlack;
    font-weight: 200;
  }
  .message-user {
    width: 20%;
    padding: 0px 15px;
    font-size: 18px;
    @media only screen and (max-width: 992px) {
      width: 200px;
    }
  }
  .message-input {
    width: 70%;
    padding: 5px 15px;
    word-break: break-word;
    font-size: 18px;
    @media only screen and (max-width: 992px) {
      width: calc(100% - 300px)
    }
  }
  .message-submit {
    width: 10%;
    font-size: 18px;
    color: white;
    background-color: $turquoise;
    border: none;
    &:hover {
      background-color: $turquoiseD;
    }
    @media only screen and (max-width: 992px) {
      width: 100px;
    }
  }
}

.topics-container {
  .topics-header {
    padding: 15px 0;
    margin-left: 5px;
    margin-right: 5px;
  }
  .topic-container {
    position: relative;
    cursor: pointer;
    &.active {
      background: linear-gradient(to right, $greenSea,  rgba(0, 0, 0, 0));
      cursor: default;
    }
    &:hover {
      background: linear-gradient(to right, $greenSea,  rgba(0, 0, 0, 0));
    }
  }
  .topic-status {
    display: inline-block;
    width: 10px;
    height: 55px;
    vertical-align: top;
    &.active {
      background-color: $skyBlue;
    }
  }
  .topic {
    padding: 15px 15px;
    color: $clouds;
    font-size: 18px;
    font-weight: 200;
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 10px);
  }
  .fa-pencil {
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 20px;
    color: $clouds;
    cursor: pointer;
    &:hover {
      color: $cloudsD;
    }
  }
}